<div class="container-fluid">
  <div class="row justify-content-around mx-3">
    <div class="col-6">
      <div class='my-2'>
        <%= render 'shared/search_form', width: 75 %>
      </div>
      <div class="cards-index-columns">
        <% @events.each do |event| %>
          <%= render 'events/card', event: event %>
        <% end %>
      </div>
      </div>
      <div class="col-5">
        <div id="map"
          style="width: 100%; height: 100vh;"
          data-markers="<%= @markers.to_json %>"
          data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>">
        </div>
      </div>
    </div>
</div>
