<div class="banner my-5" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://ketteringhealth.org/mediaroom/files/art-of-napping.png);">
  <div class="container">
    <h1>Welcome to <strong>Napbuddies</strong>!</h1>
  </div>
</div>
<div class="container">
  <% @events.each do |event| %>
    <div class="card-trip py-4 my-3">
      <% if event.photo.attached? %>
        <%= cl_image_tag event.photo.key, height: 300, width: 400, crop: :fill %>
      <% end %>
        <div class="card-trip-infos">
          <div>
            <%= link_to event.title, event_path(event) %>
            <p><%= event.description %></p>
          </div>
        <h2 class="card-trip-pricing">£99.99</h2>
        <img src="https://kitt.lewagon.com/placeholder/users/krokrob" class="card-trip-user avatar-bordered" />
      </div>
    </div>
  <% end %>
</div>
