<div class="banner mb-5" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://ketteringhealth.org/mediaroom/files/art-of-napping.png);">
  <div class="container">
    <h1>Welcome to <strong>Napbuddies</strong>!</h1>
    <p>Never feel <strong>Alone</strong>...</p>
    <%= render 'shared/search_form', width: 50 %>
  </div>
</div>