.card-trip {
  overflow: hidden;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
}

.card-trip > img {
  height: 200px;
  width: 100%;
  object-fit: cover;
}

.card-trip h2 {
  font-size: 16px;
  font-weight: bold;
  margin: 0;
}

.card-trip p {
  font-size: 12px;
  opacity: .7;
  margin: 0;
}


.card-trip .card-trip-infos {
  padding: 16px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  position: relative;
}

.card-trip-infos .card-trip-user {
  position: absolute;
  right: 16px;
  top: -20px;
  width: 40px;
}

.avatar {
  width: 40px;
  border-radius: 50%;
}

.avatar-large {
  width: 56px;
  border-radius: 50%;
}

.avatar-bordered {
  width: 40px;
  border-radius: 50%;
  box-shadow: 0 1px 2px rgba(0,0,0,0.2);
  border: white 1px solid;
}

.avatar-square {
  width: 40px;
  border-radius: 0px;
  box-shadow: 0 1px 2px rgba(0,0,0,0.2);
  border: white 1px solid;
}

.cards-index-columns {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 0;
  grid-gap: 1em;
  margin: 0;
}

.card-wrapper {
  display: flex;
}
.avatar-card {
    position: absolute;
    top: -19px;
    right: 3px;
    box-shadow: 3px 3px 10px 0px rgba(0,0,0,0.40);
}
.card-description-text {
  padding: 4em;
}
.card-text {
  margin-bottom: 0;
}
.img-link {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
}
.card-index-sm {
margin: 0;
box-shadow: 7px 6px 10px 0px rgba(0,0,0,0.40);
border: 13px solid white;
position: relative;
  p {
    font-size: 0.8em;
    padding: 0;
    font-weight: lighter;
  }
  h3 {
    margin-top: 0.3em;
    font-size: 1.2rem;
    max-width: 65%;
  }
  .img {
    height: 11em;
    object-fit: cover;
    width: 100%;
  }
}

.card-index-sm-no-box-shadow {
  margin: 0;
  border: 13px solid white;
  position: relative;
    p {
    font-size: 0.8em;
    padding: 0;
    font-weight: lighter;
    }
    h3 {
    margin-top: 0.3em;
    font-size: 1.2rem;
    max-width: 65%;
    }
    .img {
    height: 11em;
    object-fit: cover;
    width: 100%;
    }
}