.footer {
  background: #459D8C;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100px;
  padding: 0px 50px;
  color: #FE7768;
  position: stick;
  bottom: 0;
  width: 100%;
}
.footer-links {
  display: flex;
  align-items: center;
  color: #FE7768;
}
.footer-links a {
  color: #F4F4F4;
  opacity: 0.15;
  text-decoration: none;
  font-size: 24px;
  padding: 0px 10px;
}
.footer-links a:hover {
  opacity: 1;
}
.footer .fa-heart {
  color: #FE7768;
}
