.form-card {
  width: 60%;
  margin-top: 20px;
  margin-bottom: 20px;
  box-shadow: 2px 2px 20px #3f3f3f40;
  border-radius: 5px;
  padding: 20px;
  margin-left: auto;
  margin-right: auto;
  .submit-button-wrap {
    display: flex;
    justify-content: center;
  }
}
