.navbar-lewagon {
  justify-content: space-between;
  background: white;
  position: sticky;
  top: 0;
  width: 100%;
  z-index: 1000;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
  z-index: 1000;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
  z-index: 1000;
}
